body{
  background-image: url(img/background.png);
}
.all {text-align:center;


}
#back{
  border-radius: 0px 30px 30px 0px;
  position: fixed;
  float:left;
  margin-top: 40px;
  left: 0;
background: white;
opacity: 0.8;
}
#back:hover:after{
  content: "На главную сайта" ;
  position: absolute;
  color: white;
  background: black;
border-radius: 10px;
border: 2px solid white;

}
#ris{
  opacity: 0.8;
background-color: white;
width: 550px;
height: 550px;
  margin: auto;
  border-radius: 40px;

}
#text{

  color:black;
  background-color: white;
  opacity: 0.8;
  font-size: 25px;
}
#down {
  background: black;
  opacity: 0.8;
  position: fixed;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 0;
}
#down a{
color: white;
font-size: 20px;


}
